p{
    font-family:"Roboto","Arial",sans-serif;
    margin:0px;
}
.body{
    background-color:white;
 margin:0;
 padding-top:65px;
 padding-left:270px;
 height:1000px;
 padding-right:20px;
}
div{
    color:black;
    font-family:"Roboto","Arial",sans-serif;
}
img{
    border-radius:25px;
}